.venv_3.9/
*.csv
*.txt
Hiligaynon Corpus/
final
__pycache__
*.bz2
wikiextractor/
!Dataset/Unlabeled Corpus/Hiligaynon Corpus.txt
!Dataset/Unlabeled Corpus/New Hiligaynon Corpus.txt
!Dataset/Unlabeled Corpus/Tagalog Corpus.txt
!Dataset/Unlabeled Corpus/Merged Corpus.txt
output_model*
BERTPOS*
checkpoint*
*.model
*.npy
synonym.py
extract_synonym.py